In [15]:
import re

In [16]:
test_string = '123abc4568686abc02494592ABC034ABabc.'
pattern = re.compile(r"abc")## raw string
matches = pattern.finditer(test_string)
for match in matches:
    print(match)
    
#finditer() is a method provided by the re module in Python that returns an iterator yielding match objects over all non-overlapping matches for the regular expression pattern in the string. To use this method, you need to first import the re module and then call the finditer() method on a regular expression pattern, not on a string.

<re.Match object; span=(3, 6), match='abc'>
<re.Match object; span=(13, 16), match='abc'>
<re.Match object; span=(32, 35), match='abc'>

In [17]:
## finditer() is a method provided by the re module in Python that returns an iterator yielding match objects over all non-overlapping matches for the regular expression pattern in the string. To use this method, you need to first import the re module and then call the finditer() method on a regular expression pattern, not on a string.
pattern=re.compile(r"abc")
matches=pattern.findall(test_string)
for match in matches:
    print(match)

abc
abc
abc

In [18]:
#match: it will only return if something is available at the beginning of the string
pattern = re.compile(r"123")
matches = pattern.findall(test_string)
for match in matches:
    print(match)

123

In [19]:
#search : it will search in the string and return the first matching
pattern = re.compile(r"abc")
match = pattern.search(test_string)
print(match)

<re.Match object; span=(3, 6), match='abc'>

In [20]:
pattern = re.compile(r"abc")
matches = pattern.finditer(test_string)

for match in matches:
    print(match.span(), match.start(), match.end())
    print(match.group())

(3, 6) 3 6
abc
(13, 16) 13 16
abc
(32, 35) 32 35
abc

In [21]:
pattern = re.compile(r".")
matches = pattern.finditer(test_string)

for match in matches:
    print(match.group())

1
2
3
a
b
c
4
5
6
8
6
8
6
a
b
c
0
2
4
9
4
5
9
2
A
B
C
0
3
4
A
B
a
b
c
.

In [22]:
### .  , ^ ,  $ , * , + ,  ? , {} , [] , \ , | , ()  

### . : Any character (except new line character)<br>
### ^ :  starts with "^Hello"
### $ : ends with "world$"
### * : zero or more occurances "aix*"
### + : One or more occurances "aix+"
### {}: Exactly the specified number of occurances "al{2}"
### []: A set of characters "[a-m]"
### \ : Special squance (or escape special characters) "\d"
### | : either or "falls|stays"
### () : Capture and group

## More Special Characters:
### \d : Matches any decimal digit; [0,9]
### \D : Matches any non-digit Character
### \s : Matches any whitespace charater ( space " " tab "\t" newline "\n" )
### \S : Matches any non-whitespace character 
### \w : Matches any alphanumeric (word) character [a-zA-Z0-9_]
### \w : Matches any non-alphanumeric character (word) 
### \b : Matches where the specific characters are at the beginning or at the end of a word r"\bain" r"ain\b"
### \B : Matches where the specified charaters are present, but NOT at the beginning (or at the end) of a word r"\Bain" r"ain\B"

In [23]:
pattern = re.compile(r".")
matches = pattern.finditer(test_string)

for match in matches:
    print(match.group())

1
2
3
a
b
c
4
5
6
8
6
8
6
a
b
c
0
2
4
9
4
5
9
2
A
B
C
0
3
4
A
B
a
b
c
.

In [24]:
test_string1 = "datasciencehello_23456_HELLO _123_ heyho hoheypichiiiii"
pattern = re.compile(r"^")
matches = pattern.finditer(test_string)

for match in matches:
    print(match.group())

In [25]:
test_string1 = "datasciencehello_23456_HELLO _123_ heyho hoheypichiiiii"
# all the digits
pattern = re.compile(r"\d")
matches = pattern.finditer(test_string1)
for match in matches :
    print(match.group())

2
3
4
5
6
1
2
3

In [26]:
#all non-digit
pattern = re.compile(r"\D")
matches = pattern.finditer(test_string1)
for match in matches :
    print(match.group())

d
a
t
a
s
c
i
e
n
c
e
h
e
l
l
o
_
_
H
E
L
L
O

_
_

h
e
y
h
o

h
o
h
e
y
p
i
c
h
i
i
i
i
i

In [27]:
#whitespace charaters
pattern = re.compile(r"\s")
matches = pattern.finditer(test_string1)
for match in matches :
    print(match)

<re.Match object; span=(28, 29), match=' '>
<re.Match object; span=(34, 35), match=' '>
<re.Match object; span=(40, 41), match=' '>

In [28]:
#Non-Whitespace
pattern = re.compile(r"\S")
matches = pattern.finditer(test_string1)
for match in matches :
    print(match)

<re.Match object; span=(0, 1), match='d'>
<re.Match object; span=(1, 2), match='a'>
<re.Match object; span=(2, 3), match='t'>
<re.Match object; span=(3, 4), match='a'>
<re.Match object; span=(4, 5), match='s'>
<re.Match object; span=(5, 6), match='c'>
<re.Match object; span=(6, 7), match='i'>
<re.Match object; span=(7, 8), match='e'>
<re.Match object; span=(8, 9), match='n'>
<re.Match object; span=(9, 10), match='c'>
<re.Match object; span=(10, 11), match='e'>
<re.Match object; span=(11, 12), match='h'>
<re.Match object; span=(12, 13), match='e'>
<re.Match object; span=(13, 14), match='l'>
<re.Match object; span=(14, 15), match='l'>
<re.Match object; span=(15, 16), match='o'>
<re.Match object; span=(16, 17), match='_'>
<re.Match object; span=(17, 18), match='2'>
<re.Match object; span=(18, 19), match='3'>
<re.Match object; span=(19, 20), match='4'>
<re.Match object; span=(20, 21), match='5'>
<re.Match object; span=(21, 22), match='6'>
<re.Match object; span=(22, 23), match='_'>
<re.Match object; span=(23, 24), match='H'>
<re.Match object; span=(24, 25), match='E'>
<re.Match object; span=(25, 26), match='L'>
<re.Match object; span=(26, 27), match='L'>
<re.Match object; span=(27, 28), match='O'>
<re.Match object; span=(29, 30), match='_'>
<re.Match object; span=(30, 31), match='1'>
<re.Match object; span=(31, 32), match='2'>
<re.Match object; span=(32, 33), match='3'>
<re.Match object; span=(33, 34), match='_'>
<re.Match object; span=(35, 36), match='h'>
<re.Match object; span=(36, 37), match='e'>
<re.Match object; span=(37, 38), match='y'>
<re.Match object; span=(38, 39), match='h'>
<re.Match object; span=(39, 40), match='o'>
<re.Match object; span=(41, 42), match='h'>
<re.Match object; span=(42, 43), match='o'>
<re.Match object; span=(43, 44), match='h'>
<re.Match object; span=(44, 45), match='e'>
<re.Match object; span=(45, 46), match='y'>
<re.Match object; span=(46, 47), match='p'>
<re.Match object; span=(47, 48), match='i'>
<re.Match object; span=(48, 49), match='c'>
<re.Match object; span=(49, 50), match='h'>
<re.Match object; span=(50, 51), match='i'>
<re.Match object; span=(51, 52), match='i'>
<re.Match object; span=(52, 53), match='i'>
<re.Match object; span=(53, 54), match='i'>
<re.Match object; span=(54, 55), match='i'>

In [29]:
#all the word characters
pattern = re.compile(r"\w")
matches = pattern.finditer(test_string1)
for match in matches :
    print(match)

<re.Match object; span=(0, 1), match='d'>
<re.Match object; span=(1, 2), match='a'>
<re.Match object; span=(2, 3), match='t'>
<re.Match object; span=(3, 4), match='a'>
<re.Match object; span=(4, 5), match='s'>
<re.Match object; span=(5, 6), match='c'>
<re.Match object; span=(6, 7), match='i'>
<re.Match object; span=(7, 8), match='e'>
<re.Match object; span=(8, 9), match='n'>
<re.Match object; span=(9, 10), match='c'>
<re.Match object; span=(10, 11), match='e'>
<re.Match object; span=(11, 12), match='h'>
<re.Match object; span=(12, 13), match='e'>
<re.Match object; span=(13, 14), match='l'>
<re.Match object; span=(14, 15), match='l'>
<re.Match object; span=(15, 16), match='o'>
<re.Match object; span=(16, 17), match='_'>
<re.Match object; span=(17, 18), match='2'>
<re.Match object; span=(18, 19), match='3'>
<re.Match object; span=(19, 20), match='4'>
<re.Match object; span=(20, 21), match='5'>
<re.Match object; span=(21, 22), match='6'>
<re.Match object; span=(22, 23), match='_'>
<re.Match object; span=(23, 24), match='H'>
<re.Match object; span=(24, 25), match='E'>
<re.Match object; span=(25, 26), match='L'>
<re.Match object; span=(26, 27), match='L'>
<re.Match object; span=(27, 28), match='O'>
<re.Match object; span=(29, 30), match='_'>
<re.Match object; span=(30, 31), match='1'>
<re.Match object; span=(31, 32), match='2'>
<re.Match object; span=(32, 33), match='3'>
<re.Match object; span=(33, 34), match='_'>
<re.Match object; span=(35, 36), match='h'>
<re.Match object; span=(36, 37), match='e'>
<re.Match object; span=(37, 38), match='y'>
<re.Match object; span=(38, 39), match='h'>
<re.Match object; span=(39, 40), match='o'>
<re.Match object; span=(41, 42), match='h'>
<re.Match object; span=(42, 43), match='o'>
<re.Match object; span=(43, 44), match='h'>
<re.Match object; span=(44, 45), match='e'>
<re.Match object; span=(45, 46), match='y'>
<re.Match object; span=(46, 47), match='p'>
<re.Match object; span=(47, 48), match='i'>
<re.Match object; span=(48, 49), match='c'>
<re.Match object; span=(49, 50), match='h'>
<re.Match object; span=(50, 51), match='i'>
<re.Match object; span=(51, 52), match='i'>
<re.Match object; span=(52, 53), match='i'>
<re.Match object; span=(53, 54), match='i'>
<re.Match object; span=(54, 55), match='i'>

In [30]:
#all the character matching to the list provided except the numbers(sets)
pattern = re.compile(r"[a-zA-Z0-9]")
matches = pattern.finditer(test_string1)
for match in matches :
    print(match)

<re.Match object; span=(0, 1), match='d'>
<re.Match object; span=(1, 2), match='a'>
<re.Match object; span=(2, 3), match='t'>
<re.Match object; span=(3, 4), match='a'>
<re.Match object; span=(4, 5), match='s'>
<re.Match object; span=(5, 6), match='c'>
<re.Match object; span=(6, 7), match='i'>
<re.Match object; span=(7, 8), match='e'>
<re.Match object; span=(8, 9), match='n'>
<re.Match object; span=(9, 10), match='c'>
<re.Match object; span=(10, 11), match='e'>
<re.Match object; span=(11, 12), match='h'>
<re.Match object; span=(12, 13), match='e'>
<re.Match object; span=(13, 14), match='l'>
<re.Match object; span=(14, 15), match='l'>
<re.Match object; span=(15, 16), match='o'>
<re.Match object; span=(17, 18), match='2'>
<re.Match object; span=(18, 19), match='3'>
<re.Match object; span=(19, 20), match='4'>
<re.Match object; span=(20, 21), match='5'>
<re.Match object; span=(21, 22), match='6'>
<re.Match object; span=(23, 24), match='H'>
<re.Match object; span=(24, 25), match='E'>
<re.Match object; span=(25, 26), match='L'>
<re.Match object; span=(26, 27), match='L'>
<re.Match object; span=(27, 28), match='O'>
<re.Match object; span=(30, 31), match='1'>
<re.Match object; span=(31, 32), match='2'>
<re.Match object; span=(32, 33), match='3'>
<re.Match object; span=(35, 36), match='h'>
<re.Match object; span=(36, 37), match='e'>
<re.Match object; span=(37, 38), match='y'>
<re.Match object; span=(38, 39), match='h'>
<re.Match object; span=(39, 40), match='o'>
<re.Match object; span=(41, 42), match='h'>
<re.Match object; span=(42, 43), match='o'>
<re.Match object; span=(43, 44), match='h'>
<re.Match object; span=(44, 45), match='e'>
<re.Match object; span=(45, 46), match='y'>
<re.Match object; span=(46, 47), match='p'>
<re.Match object; span=(47, 48), match='i'>
<re.Match object; span=(48, 49), match='c'>
<re.Match object; span=(49, 50), match='h'>
<re.Match object; span=(50, 51), match='i'>
<re.Match object; span=(51, 52), match='i'>
<re.Match object; span=(52, 53), match='i'>
<re.Match object; span=(53, 54), match='i'>
<re.Match object; span=(54, 55), match='i'>

In [31]:
### Quantifier
## * : 0 or more <br>
## + : 1 or more <br>
## ? : 0 or 1, -> optional character
## {4} : exact number 
## {4,6} : range numbers (min, max)

In [32]:
#one or more
pattern = re.compile(r"_\d+")
matches = pattern.finditer(test_string1)
for match in matches :
    print(match)

<re.Match object; span=(16, 22), match='_23456'>
<re.Match object; span=(29, 33), match='_123'>

In [33]:
test_string2 = "hello _1 -2 _3"
pattern = re.compile(r"_?\d")
matches = pattern.finditer(test_string2)
for match in matches :
    print(match)

<re.Match object; span=(6, 8), match='_1'>
<re.Match object; span=(10, 11), match='2'>
<re.Match object; span=(12, 14), match='_3'>

In [34]:
test_string2 = "hello _1 -2 _3"
pattern = re.compile(r"\d{1,3}")
matches = pattern.finditer(test_string1)
for match in matches :
    print(match)

<re.Match object; span=(17, 20), match='234'>
<re.Match object; span=(20, 22), match='56'>
<re.Match object; span=(30, 33), match='123'>

In [35]:
dates = '''
hello
01.04.2020

2020.04.01

2020-04-01
2020-05-23
2020-06-11
2020-07-11
2020-08-11

2020/04/02

2020_04_04
2020_04_04
'''
dates

'\nhello\n01.04.2020\n\n2020.04.01\n\n2020-04-01\n2020-05-23\n2020-06-11\n2020-07-11\n2020-08-11\n\n2020/04/02\n\n2020_04_04\n2020_04_04\n'

In [36]:
pattern = re.compile(r"\d\d\d\d.\d\d.\d\d")
matches = pattern.finditer(dates)
for match in matches :
    print(match)

<re.Match object; span=(19, 29), match='2020.04.01'>
<re.Match object; span=(31, 41), match='2020-04-01'>
<re.Match object; span=(42, 52), match='2020-05-23'>
<re.Match object; span=(53, 63), match='2020-06-11'>
<re.Match object; span=(64, 74), match='2020-07-11'>
<re.Match object; span=(75, 85), match='2020-08-11'>
<re.Match object; span=(87, 97), match='2020/04/02'>
<re.Match object; span=(99, 109), match='2020_04_04'>
<re.Match object; span=(110, 120), match='2020_04_04'>

In [37]:
pattern = re.compile(r"\d\d\d\d-\d\d-\d\d")
matches = pattern.finditer(dates)
for match in matches :
    print(match)

<re.Match object; span=(31, 41), match='2020-04-01'>
<re.Match object; span=(42, 52), match='2020-05-23'>
<re.Match object; span=(53, 63), match='2020-06-11'>
<re.Match object; span=(64, 74), match='2020-07-11'>
<re.Match object; span=(75, 85), match='2020-08-11'>

In [38]:
pattern = re.compile(r"\d\d\d\d[-/]\d\d[-/]\d\d")
matches = pattern.finditer(dates)
for match in matches :
    print(match)

<re.Match object; span=(31, 41), match='2020-04-01'>
<re.Match object; span=(42, 52), match='2020-05-23'>
<re.Match object; span=(53, 63), match='2020-06-11'>
<re.Match object; span=(64, 74), match='2020-07-11'>
<re.Match object; span=(75, 85), match='2020-08-11'>
<re.Match object; span=(87, 97), match='2020/04/02'>

In [39]:
#selecting for only may, june and july
pattern = re.compile(r"\d\d\d\d[-/]0[5-7][-/]\d\d")
matches = pattern.finditer(dates)
for match in matches :
    print(match)

<re.Match object; span=(42, 52), match='2020-05-23'>
<re.Match object; span=(53, 63), match='2020-06-11'>
<re.Match object; span=(64, 74), match='2020-07-11'>

In [40]:
my_string = """
hello world
1223
2020-05-20
Mr Simpson
Mrs Simpson
Mr. Brown
Ms Smith
Mr. T
pythonengineer@gmail.com
Python-engineer@gmx.de
python-engineer123@my-domain.org
"""
pattern = re.compile(r"([a-zA-Z0-9]+)@([a-zA-Z-]+)\.(com|de|org)") #() are defining the groups
matches = pattern.finditer(my_string)
for match in matches :
    print(match.group())
    print(match.group(1))
    print(match.group(2))
    print(match.group(3))

pythonengineer@gmail.com
pythonengineer
gmail
com
engineer@gmx.de
engineer
gmx
de
engineer123@my-domain.org
engineer123
my-domain
org

In [41]:
pattern = re.compile(r"(Mr|Ms|Mrs)\.?\s\w+")
matches = pattern.finditer(my_string)
for match in matches :
    print(match)

<re.Match object; span=(29, 39), match='Mr Simpson'>
<re.Match object; span=(40, 51), match='Mrs Simpson'>
<re.Match object; span=(52, 61), match='Mr. Brown'>
<re.Match object; span=(62, 70), match='Ms Smith'>
<re.Match object; span=(71, 76), match='Mr. T'>

In [42]:
test_string3 = "123abc123ABCDEFabc123ABC"
pattern = re.compile(r'abc')
splitted = pattern.split(test_string3)
print(splitted)
#Sub
test_string4 = 'Hello world, world is beautiful and big, world'
pattern = re.compile(r'world')
subbed_string = pattern.sub('planet', test_string4)
print(subbed_string)

['123', '123ABCDEF', '123ABC']
Hello planet, planet is beautiful and big, planet

In [44]:
urls = """
mahesh
Hello world
2023-04-20
http://python-engineer.com
https://www.python-engineer.org
http://www.pyeng.net
"""
pattern = re.compile(r'https?://(www\.)?([a-zA-Z-]+)(\.[a-zA-Z]+)')
matches = pattern.finditer(urls)
for match in matches:
    print(match.group(1))
    
subbed_urls = pattern.sub(r"\2\3", urls)
print(subbed_urls)

None
www.
www.

mahesh
Hello world
2023-04-20
python-engineer.com
python-engineer.org
pyeng.net

In [45]:
import pandas as pd

In [50]:
data=pd.read_csv('diamonds.csv')

In [51]:
data

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [58]:
data=data.drop('Unnamed: 0',axis=1)

In [59]:
data.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [60]:
## extract first three letter from a str
data['first_three']=data['cut'].str.extract(r'(^.{0,3})')
data

,carat,cut,color,clarity,depth,table,price,x,y,z,first_three
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Ide
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pre
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Goo
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pre
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Goo
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Ide
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Goo
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Ver
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pre
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Ide

In [61]:
data[data['cut'].str.count(r'(^f.)', re.IGNORECASE) ==1]

,carat,cut,color,clarity,depth,table,price,x,y,z,first_three
8,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,Fai
91,0.86,Fair,E,SI2,55.1,69.0,2757,6.45,6.33,3.52,Fai
97,0.96,Fair,F,SI2,66.3,62.0,2759,6.27,5.95,4.07,Fai
123,0.70,Fair,F,VS2,64.5,57.0,2762,5.57,5.53,3.58,Fai
124,0.70,Fair,F,VS2,65.3,55.0,2762,5.63,5.58,3.66,Fai
...,...,...,...,...,...,...,...,...,...,...,...
53757,0.72,Fair,F,VS2,55.4,64.0,2724,6.06,5.97,3.34,Fai
53800,0.90,Fair,I,VS1,68.7,62.0,2732,5.83,5.79,3.99,Fai
53863,1.00,Fair,I,SI2,66.8,56.0,2743,6.22,6.12,4.13,Fai
53879,1.04,Fair,G,SI2,65.2,57.0,2745,6.25,6.23,4.07,Fai
53882,0.71,Fair,D,VS1,65.4,59.0,2747,5.62,5.58,3.66,Fai

In [62]:
data[data['cut'].str.count(r'(^p.)', re.IGNORECASE) ==1]

,carat,cut,color,clarity,depth,table,price,x,y,z,first_three
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pre
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pre
12,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33,Pre
14,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,Pre
15,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68,Pre
...,...,...,...,...,...,...,...,...,...,...,...
53928,0.79,Premium,E,SI2,61.4,58.0,2756,6.03,5.96,3.68,Pre
53930,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49,Pre
53931,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43,Pre
53934,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58,Pre
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pre

In [65]:
data[data['cut'].str.count(r'(^G.)', re.IGNORECASE) ==1]

,carat,cut,color,clarity,depth,table,price,x,y,z,first_three
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Goo
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Goo
10,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73,Goo
17,0.30,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70,Goo
18,0.30,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71,Goo
...,...,...,...,...,...,...,...,...,...,...,...
53913,0.80,Good,G,VS2,64.2,58.0,2753,5.84,5.81,3.74,Goo
53914,0.84,Good,I,VS1,63.7,59.0,2753,5.94,5.90,3.77,Goo
53916,0.74,Good,D,SI1,63.1,59.0,2753,5.71,5.74,3.61,Goo
53927,0.79,Good,F,SI1,58.1,59.0,2756,6.06,6.13,3.54,Goo
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Goo

In [67]:
data['cut'].str.count(r'(^F.)').to_frame().value_counts()

cut
0      52330
1       1610
dtype: int64

In [68]:
data[data['cut'].str.match(r"^P.")==True]

,carat,cut,color,clarity,depth,table,price,x,y,z,first_three
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pre
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pre
12,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33,Pre
14,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,Pre
15,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68,Pre
...,...,...,...,...,...,...,...,...,...,...,...
53928,0.79,Premium,E,SI2,61.4,58.0,2756,6.03,5.96,3.68,Pre
53930,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49,Pre
53931,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43,Pre
53934,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58,Pre
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pre

In [69]:
data[data['cut'].str.contains(r"(^V)") == True]

C:\Users\rampe\AppData\Local\Temp\ipykernel_13508\2173372959.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data[data['cut'].str.contains(r"(^V)") == True]

,carat,cut,color,clarity,depth,table,price,x,y,z,first_three
5,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,Ver
6,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,Ver
7,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,Ver
9,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39,Ver
19,0.30,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66,Ver
...,...,...,...,...,...,...,...,...,...,...,...
53921,0.70,Very Good,E,VS2,62.8,60.0,2755,5.59,5.65,3.53,Ver
53922,0.70,Very Good,D,VS1,63.1,59.0,2755,5.67,5.58,3.55,Ver
53932,0.70,Very Good,E,VS2,60.5,59.0,2757,5.71,5.76,3.47,Ver
53933,0.70,Very Good,E,VS2,61.2,59.0,2757,5.69,5.72,3.49,Ver
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Ver

In [71]:
#combining two columns to create a str
strs = data[['cut','first_three']].agg(' '.join, axis=1)
strs

0            Ideal Ide
1          Premium Pre
2             Good Goo
3          Premium Pre
4             Good Goo
             ...
53935        Ideal Ide
53936         Good Goo
53937    Very Good Ver
53938      Premium Pre
53939        Ideal Ide
Length: 53940, dtype: object

In [72]:
#spliting on space 
strs.str.split("\s", expand=True, n=-1)

             0     1     2
0        Ideal   Ide  None
1      Premium   Pre  None
2         Good   Goo  None
3      Premium   Pre  None
4         Good   Goo  None
...        ...   ...   ...
53935    Ideal   Ide  None
53936     Good   Goo  None
53937     Very  Good   Ver
53938  Premium   Pre  None
53939    Ideal   Ide  None

[53940 rows x 3 columns]

In [77]:
import re
text = "The quick brown fox jumps over the lazy dog 123."

# find all digit characters in the text
digits = re.findall(r'\d', text)
print(digits)
# find all characters in the text
digits = re.findall(r'\D', text)
print(digits)

digits = re.findall(r'\W', text)
digits = re.findall(r'\w', text)
print(digits)
print(digits)
# find all whitespace characters in the text
whitespace = re.findall(r'\s', text)
print(whitespace)

['1', '2', '3']
['T', 'h', 'e', ' ', 'q', 'u', 'i', 'c', 'k', ' ', 'b', 'r', 'o', 'w', 'n', ' ', 'f', 'o', 'x', ' ', 'j', 'u', 'm', 'p', 's', ' ', 'o', 'v', 'e', 'r', ' ', 't', 'h', 'e', ' ', 'l', 'a', 'z', 'y', ' ', 'd', 'o', 'g', ' ', '.']
['T', 'h', 'e', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'o', 'x', 'j', 'u', 'm', 'p', 's', 'o', 'v', 'e', 'r', 't', 'h', 'e', 'l', 'a', 'z', 'y', 'd', 'o', 'g', '1', '2', '3']
['T', 'h', 'e', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'o', 'x', 'j', 'u', 'm', 'p', 's', 'o', 'v', 'e', 'r', 't', 'h', 'e', 'l', 'a', 'z', 'y', 'd', 'o', 'g', '1', '2', '3']
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']